$color-bg: rgb(11, 19, 43);
$color-primary-normal: rgb(28, 37, 65);
$color-primary-light: rgb(58, 80, 107);
$color-secondary-normal: rgb(91, 192, 190);
$color-secondary-light: rgb(111, 255, 233);
$color-text-primary: rgb(255, 255, 255);
$color-text-secondary: rgb(238, 238, 238);